In [1]:
import pandas as pd

ipl = pd.read_csv('IPL Matches 2008-2020.csv')

In [2]:
ipl.shape

(816, 17)

In [4]:
ipl.dtypes

id                   int64
city                object
date                object
player_of_match     object
venue               object
neutral_venue        int64
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
method              object
umpire1             object
umpire2             object
dtype: object

In [6]:
ipl.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

In [7]:
ipl.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [35]:
v = ipl['venue'].value_counts()
v

Eden Gardens                                            77
Feroz Shah Kotla                                        74
Wankhede Stadium                                        73
M Chinnaswamy Stadium                                   65
Rajiv Gandhi International Stadium, Uppal               64
MA Chidambaram Stadium, Chepauk                         57
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Dubai International Cricket Stadium                     33
Sheikh Zayed Stadium                                    29
Maharashtra Cricket Association Stadium                 21
Punjab Cricket Association IS Bindra Stadium, Mohali    21
Sharjah Cricket Stadium                                 18
Dr DY Patil Sports Academy                              17
Subrata Roy Sahara Stadium                              17
Kingsmead                                               15
M.Chinnaswamy Stadium                                   15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
New Wanderers Stadium                                    8
St George's Park                                         7
Barabati Stadium                                         7
Newlands                                                 7
JSCA International Stadium Complex                       7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
De Beers Diamond Oval                                    3
Buffalo Park                                             3
Vidarbha Cricket Association Stadium, Jamtha             3
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [40]:
v.idxmax()

'Eden Gardens'

In [43]:
import statistics
venues = []
for i in range(ipl.shape[0]):
    if ipl['team1'].iloc[i] == 'Royal Challengers Bangalore' or ipl['team2'].iloc[i] == 'Royal Challengers Bangalore':
        venues.append(ipl['venue'].iloc[i])
print(statistics.mode(venues))

M Chinnaswamy Stadium

In [44]:
win, lose = 0, 0
for i in range(ipl.shape[0]):
    if ipl['team1'].iloc[i] == 'Mumbai Indians' or ipl['team2'].iloc[i] == 'Mumbai Indians':
        if ipl['toss_winner'].iloc[i] == 'Mumbai Indians' or ipl['toss_winner'].iloc[i] == 'Mumbai Indians':
            win += 1
        else:
            lose += 1
print(win, lose)

106 97

In [46]:
import statistics
players = []
for i in range(ipl.shape[0]):
    if ipl['team1'].iloc[i] == 'Royal Challengers Bangalore' or ipl['team2'].iloc[i] == 'Royal Challengers Bangalore':
        players.append(ipl['player_of_match'].iloc[i])
print(statistics.mode(players))

AB de Villiers